#header a.logo {
    margin-bottom: -4px !important;
}

#header-wrapper {
    box-sizing: border-box;
    height: 146px;
}

#header.fixed {
    position: fixed;
    z-index: 100;

    left: 0;
    top: 0;
    right: 0;

    background: rgba(255, 255, 255, 0.95);

    padding: 20px 0;

    box-shadow: 0 0 15px -5px #ddd;
}

#up-to-top {
    position: fixed;
    z-index: 50;

    width: 54px;
    height: 54px;

    cursor: pointer;
    border-radius: 500px;

    right: 30px;
    bottom: 30px;

    background: #fff;
    box-shadow: 0 0 15px -5px #999;

    align-items: center;
    justify-content: center;

    display: none;
}
#up-to-top.visible {
    display: flex;
}
#up-to-top img {
    width: 22px;
    height: 22px;
    display: block;

    transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
    #up-to-top {
        right: 20px;
        bottom: 20px;
    }
}